/*Medium gray: : #737d8e;*/
/*dark gray: #25282e;*/
/*light gray: #e1e3e7;*/
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translate(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translate(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  background-color: #25282e; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #25282e; }

.top {
  line-height: 1.3;
  padding: 1rem 0rem 2rem 0rem; }
  .top_logo-box-main {
    color: #dc9c2a;
    font-size: 5.3rem;
    font-weight: 300;
    letter-spacing: 3.6rem;
    margin-right: -3.6rem;
    text-align: center; }
  .top_logo-box-sub {
    color: #fff;
    font-size: 1.4rem;
    font-weight: 300;
    letter-spacing: .28rem;
    text-align: center; }
    .top_logo-box-sub-bull {
      color: #dc9c2a; }

.heading-primary-main {
  display: block;
  text-transform: uppercase;
  margin-bottom: 6rem;
  font-size: 5rem;
  font-weight: 700;
  letter-spacing: 2rem;
  animation-name: moveInLeft;
  animation-duration: 1s;
  animation-timing-function: ease-out; }
  .heading-primary-main-ampersand {
    color: #dc9c2a !important; }

.heading-primary-sub {
  display: block;
  text-transform: uppercase;
  margin-bottom: 3rem;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 1rem;
  animation: moveInRight 1s ease-out; }

.heading-secondary {
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, #737d8e, #25282e);
  -webkit-background-clip: text;
  color: transparent;
  margin-top: 5rem;
  letter-spacing: .2rem;
  transition: all .2s; }
  .heading-secondary:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all .2s;
  position: relative;
  font-size: 1.6rem;
  border: none;
  cursor: pointer; }

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 20rem rgba(0, 0, 0, 0.2); }
  .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }

.btn:active, .btn:focus {
  outline: none;
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn-orangered {
  background-color: #dc9c2a;
  color: #25282e; }
  .btn-orangered::after {
    background-color: #e8bd72; }

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s; }

.btn-animated {
  animation: moveInBottom .5s ease-out .075s;
  animation-fill-mode: backwards; }

.feature-box {
  font-size: 1.7rem;
  padding: 2.5rem;
  text-align: center; }
  .feature-box__icon {
    font-size: 6rem;
    margin-bottom: 1.5rem;
    display: inline-block;
    background-image: linear-gradient(to right, #e8bd72, #9f6f1a);
    -webkit-background-clip: text;
    color: transparent; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 6rem) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 3 * 6rem) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem); }

.top {
  display: block;
  height: auto;
  background-color: #000; }

.header {
  height: 75vh;
  background-image: url(../img/header-3.jpg);
  background-size: cover;
  background-position: center;
  position: relative; }
  .header_text-box {
    position: absolute;
    top: 18%;
    left: 5%; }
  .header a {
    margin: 10rem 15rem 0 15rem; }

.section-about {
  background-color: #e1e3e7;
  background-size: cover; }
