// COLOR

$color-white: #fff;
$color-black: #000;

$color-secondary: #101d2c;

$color-primary: #737d8e;
$color-primary-light: #e1e3e7;
$color-primary-dark: #25282e;

$color-gray-dark: #3d3f42;

$color-orangered: #dc9c2a;
$color-orangered-dark: #9f6f1a;
$color-orangered-light: #e8bd72;





// FONT
$default-font-size: 2rem;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;

/*Medium gray: : #737d8e;*/
/*dark gray: #25282e;*/
/*light gray: #e1e3e7;*/

// RESPONSIVE BREAKPOINTS
$bp-largest: 75em; //1200px
$bp-large: 62.5em; //1000px;
$bp-medium: 50em; //800px;
$bp-small: 37.5em; //600px;
