// COLOR

$color-white: #fff;
$color-black: #000;

$color-primary: #737d8e;
$color-primary-light: #e1e3e7;
$color-primary-dark: #25282e;

$color-orangered: #dc9c2a;



/*Medium gray: : #737d8e;*/
/*dark gray: #25282e;*/
/*light gray: #e1e3e7;*/
