.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  // opacity: .3;
  overflow: hidden;

  &_content {
    height: 100%;
    width: 100%;
    object-fit: cover;

  }
}


.gallery-video {

  & video {
    width: 100%;
    height: auto;
  }
}

.card-about {
  position: relative;
  padding: 20rem 40rem 50rem 40rem;
  
  @media only screen and (max-width: $bp-large) {
    padding-top: 3rem ;
   
  }


  &-video_content-2 {  
    @include absCenter    
    outline: 5px solid $color-orangered-dark;    
    height: auto;
    width: 50%;    
    box-shadow: 0 1.5rem 4rem rgba($color-secondary, .4);
    
  }

  &--1 {
      position: absolute;
      outline: 5px solid $color-orangered-dark;
      box-shadow: 0 1.5rem 4rem rgba($color-secondary, .4);      
      left: 50%;
      top: 45%;

      @media only screen and (max-width: $bp-large) {
        left: 55%;
        top: 55%;
        height: 50%;
        width: 30%; 
      }
  }

}

  




