body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: $color-primary-dark;
 
}

.top {
  line-height: 1.3;
  padding: 1rem 0rem 2rem 0rem;


  &_logo-box-main {
    color: $color-orangered;  
    font-size: 5.3rem;
    font-weight: 300;
    letter-spacing: 3.6rem;
    margin-right: -3.6rem;
    text-align: center; 

    

    @media only screen and (max-width: $bp-small) {
      
      letter-spacing: 1.6rem;
      margin-right: -1.6rem;
  

    }
   
   
  }

  &_logo-box-sub {
    color: $color-white; 
    font-size: 1.4rem;
    font-weight: 300;
    letter-spacing: .28rem;
    text-align: center;

    &-bull {
      color: $color-orangered;
    }
  }

}

.font {
  margin-top: -2rem;
}

.heading-primary-main {
  display: block;
  text-transform: uppercase;
  margin-bottom: 6rem;  
  font-size: 5rem;
  font-weight: 700;
  letter-spacing: 2rem;

  animation-name: moveInLeft;
  animation-duration: 1s;
  animation-timing-function: ease-out;
   
    
  &-ampersand {
    color: $color-orangered !important;
     
  }

  @media only screen and (max-width: $bp-largest) {
    letter-spacing: 1rem;
    
    font-size: 3rem;
  }

  @media only screen and (max-width: $bp-medium) {
    letter-spacing: .5rem;
    margin-bottom: 4rem;
    font-size: 3rem;
  }

   @media only screen and (max-width: $bp-small) {
    letter-spacing: .5rem;
    margin-bottom: 4rem;
    font-size: 3rem;
  }

}

.heading-primary-sub {
  display: block;
  text-transform: uppercase;
  margin-bottom: 3rem; 
  font-size: 2.8rem;
  font-weight: 700;
  letter-spacing: 1rem;

  animation: moveInRight 1s ease-out;

  
  @media only screen and (max-width: $bp-medium) {
    letter-spacing: .3rem;
    margin-bottom: 3.5rem;
    font-size: 1.5rem;
  }

  @media only screen and (max-width: $bp-small) {
    letter-spacing: .3rem;
    margin-bottom: 4.5rem;
    font-size: 1.5rem;
  }
    
}


.heading-secondary {
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, $color-primary, $color-primary-dark);
  -webkit-background-clip: text;
  color: transparent;
  margin-top: 5rem;
  letter-spacing: .2rem;
  transition: all .2s;

  @media only screen and (max-width: $bp-medium) {
    letter-spacing: .2;
    margin-bottom: 0rem;
    margin-top: 2rem;
    
    font-size: 2.5rem;
  }

  @media only screen and (max-width: $bp-small) {
    letter-spacing: 0;
    margin-bottom: 0rem;
    font-size: 2.5rem;
  }

  &:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: .5rem 1rem 2rem rgba($color-black, .2) 
  }
}

.heading-tertiary {
  font-size: $default-font-size;
  font-weight: 700;
  text-transform: uppercase;
}

.heading-service {
  font-size: $default-font-size;
  font-weight: 700;
  text-transform: uppercase;
  background-image: linear-gradient(to right, $color-orangered-light, $color-orangered-dark);
  -webkit-background-clip: text;
  color: transparent;
}

.heading-third {
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, $color-orangered-light, $color-orangered-dark);
  -webkit-background-clip: text;
  color: transparent;
  margin-top: 5rem;
  letter-spacing: .2rem;
  transition: all .2s;

  &:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: .5rem 1rem 2rem rgba($color-primary-light, .2) 
  }
}

.heading-fourth {
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, $color-orangered-light, $color-orangered-dark);
  -webkit-background-clip: text;
  color: transparent;
  // margin-top: 5rem;
  letter-spacing: .2rem;
  transition: all .2s;
}

.paragraph {
  font-size: $default-font-size;
  margin-bottom: 1.5rem;

  &:not(:last-child) {
    @media only screen and (max-width: $bp-large) {
        margin-bottom: .5rem;
      }
    
  }
}

.heading-primary-footer { 
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: .2rem;

  @media only screen and (max-width: $bp-largest) {
    font-size: 1.5rem;
  }  
}

.heading-portfolio {
  display: block;
  text-transform: uppercase;
  font-size: 5rem;
  font-weight: 700;
  letter-spacing: .7rem;
  color: $color-white;

  @media only screen and (max-width: $bp-large) {
    font-size: 3rem;
  }
  
}

.heading-portfolio-secondary {
  display: block;
  text-transform: uppercase;
  margin-bottom: 3rem; 
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: .5rem;
  color: $color-white;
  margin-top: 2rem;

  
  @media only screen and (max-width: $bp-large) {
    font-size: 2rem;
    letter-spacing: 0;
  }
 
}
