.section-prefooter-1 {
  background-color: $color-primary-light;
  // margin: 2rem 8rem 2rem 8rem;
  
}

.section-service {
  background-color: $color-white;
  padding-bottom: 8rem;

  & a {@media only screen and (max-width: $bp-largest) {
      margin-bottom: 4em;
    } }
}

.section-list-services {
  // background-color: #101d2c;
  padding-bottom: 8rem;
  background-image: linear-gradient(rgba($color-secondary, .93), rgba($color-secondary, .93)), url(../img/service-back.jpeg);
  background-size: cover;
  background-position: bottom;
}

.prefooter-2 {
  
}



.section-pricing {
  position: relative;
  padding-bottom: 8rem;
  padding-top: 8rem;

}

.section-message {
  padding-bottom: 8rem;
  background-color: $color-primary;
}

.section-price {
  background-color: $color-white;  
  padding-bottom: 8rem;

}


.section-gallery {
  background-color: $color-white; 
  padding: 8rem 20rem 8rem 20rem;

}

.section-carousel {
  background-color: $color-white; 
  padding: 8rem 20rem 0 20rem;
}

.section-gallery-video {
  background-color: $color-white; 
  padding: 0 20rem 0 20rem;
}

.portfolio-about {

  background-color: $color-white;  
  // padding-bottom: 15rem;
  padding: 0 8rem 15rem 8rem;

  @media only screen and (max-width: $bp-largest) {
        padding-bottom: 8rem;
      }


  
}

