.section-prefooter-1 {
  background-color: $color-primary-light;
  // margin: 2rem 8rem 2rem 8rem;
  
}

.section-service {
  background-color: $color-white;
  padding-bottom: 8rem;
}

.section-list-services {
  background-color: #3d3f42;
  padding-bottom: 8rem;
}

.prefooter-2 {
  // padding-bottom: 8rem;
}



.section-pricing {
  position: relative;
  padding-bottom: 8rem;
  padding-top: 8rem;

}

.section-message {
  padding-bottom: 8rem;
  background-color: $color-primary;
}

.section-price {
  background-color: $color-white;  
  padding-bottom: 8rem;

}

.section-gallery {
  background-color: $color-white; 
  padding: 8rem 20rem 8rem 20rem;

}

.section-carousel {
  background-color: $color-white; 
  padding: 8rem 20rem 0 20rem;
}

.section-gallery-video {
  background-color: $color-white; 
  padding: 0 20rem 0 20rem;
}



